.hero {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(127, 246, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.hero_name {
    font-size: large;
    font-weight: 600;
}

.hero_birth {
    font-size: medium;
    font-weight: 400;
}

.hero_gender {
    font-size: medium;
    font-weight: 400;
}

.hero_height {
    font-size: medium;
    font-weight: 400
}

.hero_films_list {
    list-style-type: ellipsis;

}

.hero_films_list p {
    font-size: large;
    font-weight: 600
}

.hero_starships {
    list-style-type: ellipsis;

}

.hero_starships p {
    font-size: large;
    font-weight: 600
}

.loading_hero {
    display: flex;
    align-items: center;
    justify-content: center;

}

.loader_circle_hero {
    margin-left: 20px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
